.main-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 20px;
}
@media (max-width: 768px) {
  .main-page{
    padding-top: 70px;
  }
}
@media (max-height:567px) {
  .main-page{
    padding-top: 260px;
  }
}
