@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
	box-sizing: border-box;
}
.main {
  display: flex;
	align-items: center;
	justify-content: center;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
}

.main-container-signin{
	width: 456px;
  height: 349px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	position: relative;
	z-index: 10;
	overflow: hidden;
	background: #FFFFFF;
	padding: 30px;
	border-radius: 12px;
}
.error-signin{
	width: 456px;
  /* height: 399px; */
  height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	position: relative;
	z-index: 10;
	overflow: hidden;
	background: #FFFFFF;
	padding: 30px;
	border-radius: 12px;
  margin-top: 10%;
}

.container-signin{
	height: 100%;
	position: absolute;
}
.signin-container{
	width: 410px;
	height: 100%;
  padding-left: 31px;
  padding-right: 30px;
}
.text-signin{
	text-align: center;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  padding-top: 26px;
  padding-bottom: 20px;
}
.data-signin{
	height: 45px;
	width: 100%;
	margin-bottom: 40px;
}
form .data-signin label{
  display: flex;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #2B2B2B;
  padding-bottom: 1px;
}

form .data-signin input{
	height: 100%;
	width: 100%;
	padding-left: 10px;
	background: #F5F5F5;
  border-radius: 8px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #6C6C6C;
  border-color: transparent;
}
form .data-signin input:not(:placeholder-shown) {
  border: 1px solid #9F9F9F;
  background: white;
}
.error-input-signin {
  border: 2px solid #EC3030 !important;
  background: white;
  }
.error-message-signin {
  left: calc(50% - 396px/2 + 22px);
  top: calc(50% - 12px/2 + 68px);
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #EC3030;
  }

form .btn-signin{
	height: 45px;
	width: 100%;
  margin-top: 24px;
  margin-bottom: 8px;
}

form .btn-signin button{
	height: 100%;
	width: 100%;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	border: none;
	cursor: pointer;
	background: #D8E7FF;
  border-radius: 12px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #175BC0;
}

form .disabled button{
	height: 100%;
	width: 100%;
	font-size: 18px;
	font-weight: 500;
	border: none;
	cursor: pointer;
  border-radius: 12px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;

  color: #ffffff;
  background-color: #D3D3D3;
  border: transparent;
}


form .signin-link{
	text-align: center;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  margin-top: 4%;
}

form .signin-link a{
  font-weight: 800;
  color: #000000;
	text-decoration: none;
}

form .signin-link .slide-signin{
	cursor: pointer;
}
.recover-password{
  margin-left: 66%;
  margin-top: 2%;
}
.recover-password-label{
  cursor: pointer;
}
.captcha{
  margin-top: 15%;
}
